@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background: url(assets/countdown-to-new-year.png) no-repeat center center /
    cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;

  color: #fffffe;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
}

.container {
  background-color: rgba(7, 23, 164, 0.2);
  padding: 3rem 1.5rem;
  border-radius: 1rem;
  margin-top: -3rem;
}

.header {
  margin-bottom: 5rem;
  font-size: 2.4rem;
  font-weight: 900;
  font-family: "Lobster Two", cursive;
  letter-spacing: 0.5rem;
}

.year,
.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  font-size: 4rem;
}

.year div {
  position: relative;
  margin: 0 3rem;
}

.year div::before {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  top: -2rem;
  text-transform: uppercase;
  font-family: "Lobster Two", cursive;
  font-size: 2rem;
}

.year .current::before {
  content: "current";
}
.year .next::before {
  content: "next";
}

.countdown {
  width: 100%;
}

.countdown div {
  width: 100px;
  position: relative;
  font-weight: 900;
  text-align: center;
}

.countdown div::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -3rem;
  font-size: 1.5rem;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  line-height: 2.5rem;
}

.countdown .days::before {
  content: "days";
}
.countdown .hours::before {
  content: "hours";
}
.countdown .minutes::before {
  content: "minutes";
}
.countdown .seconds::before {
  content: "seconds";
}
